<!DOCTYPE html>
<html>
<head>
	<title>CodeRush</title>
		<meta name="theme-color" content="#DE3454">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

        <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="http://cdn.transifex.com/live.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


</head>
<body>
<nav>
				    <div class="nav-wrapper">
				      <a href="ktj.in" class="brand-logo"><img src="../static/images/YVUoLTk.png" style="width:300px;"></a>

				      <ul id="nav-mobile" class="right hide-on-med-and-down">
				      <li><a href="iitkgp.ac.in"><img style="float:right;height:64px;" src="https://ktj.in/static/administrator/media/page/template/logo3.png"></a></li>

				      </ul>
				      <center><a href="#" style="font-size:50px;margin-left:200px;">CodeRush</a></center>
				    </div>
				  </nav>

				<center>
				<div id="Question">
				 	<h2><div id = "src_auth">Hello &nbsp</div></h2>

					<div class="collection" style="margin-top:50px;">
					    <a href="/coderush/start1" class="collection-item">Question 1</a>
						<a href="/coderush/start2" class="collection-item">Question 2</a>
						<a href="/coderush/start3" class="collection-item">Question 3</a>
						<a href="/coderush/start4" class="collection-item">Question 4</a>
						<a href="/coderush/start5" class="collection-item">Question 5</a>
						<a href="/coderush/start6" class="collection-item">Question 6</a>
					</div>
				</div>
				</center>
				<h3>{{output}}</h3>
<form id="srcUserForm" style="display: none;">
	{%csrf_token%}
	<input type="text" id="srcUser" name="username">
</form>
<script type="text/javascript">
        	var username = localStorage.getItem('username');
        	$("#srcUser").val(username);
        	if(username){
        		$("#src_auth").append(username);
        	}
        	else{
        		window.location.href = '/login/'
        	}
        	var form = document.getElementById('srcUserForm');
    		var token = form.elements[0].value;
	        $.ajax({
	            url:'/coderush/auth2/',
	            dataType:'json',
	            type:'POST',
	            async:true,
	            contentType:'application/x-www-form-urlencoded',
	            data:{
	            	'csrfmiddlewaretoken':token,
	            	'username': username,
	            },
	            success: function(response) {
	                console.log(response.status);
	                console.log(response.statusText);

	                if (response.success==0) {
	                	$("#Question").html('<h1>You are not authorised to view the page</h1>');
	                }

	                // localStorage.setItem('username', response.username);
	                // getUserDetail(response.username);
	                // $("#login").html("<center><div style='color:#4bb8eb;margin-top:48%;'>" + response.username + ", You are logged in!!</div></center>");
	                // if (document.referrer == 'http://scm.ktj.in/') {
	                //     localStorage.setItem('fromSCM', 1);
	                // }
	                // else {
	                //     if (localStorage.getItem('fromSCM') == 1){
	                //         window.location.href = 'http://scm.ktj.in/';
	                //     }
	                //     else {
	                //         window.location.href = '/';
	                //     }
	                // }

	            },
	            error: function(response) {
	                console.log(response.status);
	                console.log(response.responseText);
	            }
	        });
        </script>

</body>
</html>
